Name: {{ name }}
Pronouns: {{ pronouns.subjective }}/{{ pronouns.objective }}/{{ pronouns.possessive }}
Traits: {{ core_traits | join(", ") }}
Appearance:
{% for detail in appearance_details -%}
- {{ detail }}
{% endfor -%}
